In [2]:
from pathlib import Path
print("Current working directory:", Path.cwd())

Current working directory: c:\Users\User\Desktop\my-local-repo\sports_modelling\models

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path

# Resolve data directory relative to the notebook location (../data)
data_dir = (Path.cwd().parent / "data").resolve()
processed_dir = data_dir / "processed"
print(processed_dir)

# Helper to choose processed file first, else fallback raw by league code
def find_project_root(start_path: Path) -> Path:
    """
    Walk upward from the current directory until a folder containing 'data' is found.
    """
    for parent in [start_path, *start_path.parents]:
        if (parent / "data").exists():
            return parent
    raise RuntimeError("Could not find project root containing a 'data' folder.")

# Load all requested leagues
leagues = ["ENG", "FRA", "SPA"]
league_dfs = {}

for code in leagues:
    path = find_project_root(Path.cwd()) / "data" / "processed" / f"{code}_combined.csv"
    df = pd.read_csv(path)
    df = df[df["Minute"] > 0]
    league_dfs[code] = df

# Unpack for convenience
premier_league_df = league_dfs["ENG"]
league1_df = league_dfs["FRA"]
laliga_df = league_dfs["SPA"]

print("Loaded leagues:", ", ".join(league_dfs.keys()))
print(f"ENG columns: {premier_league_df.columns.tolist()}")
print(f"FRA columns: {league1_df.columns.tolist()}")
print(f"SPA columns: {laliga_df.columns.tolist()}")

C:\Users\User\Desktop\my-local-repo\sports_modelling\data\processed
Loaded leagues: ENG, FRA, SPA
ENG columns: ['RBallID', 'HomeTeam', 'AwayTeam', 'Timestamp', 'Incident', 'IncidentNumber', 'Minute']
FRA columns: ['RBallID', 'HomeTeam', 'AwayTeam', 'Timestamp', 'Incident', 'IncidentNumber', 'Minute']
SPA columns: ['RBallID', 'HomeTeam', 'AwayTeam', 'Timestamp', 'Incident', 'IncidentNumber', 'Minute']

In [7]:
def assign_season(dt) :
    month = dt.month
    year = dt.year
    return f"{year}-{year+1}" if month >= 8 else f"{year-1}-{year}"

def create_basic_dataset(df: pd.DataFrame) -> pd.DataFrame:
    """
    Create a basic dataset with selected features for modeling.
    """
    stats = {
        "Home Goals": (df["Incident"] == "GOAL1"),
        "Away Goals": (df["Incident"] == "GOAL2"),
        "Home Corners": (df["Incident"] == "CR1"),
        "Away Corners": (df["Incident"] == "CR2"),
        "Home Shots on Target": (df['Incident'] == 'SHG1'),
        "Away Shots on Target": (df['Incident'] == 'SHG2'),
        "Home Fouls": (df['Incident'] == 'F1'),
        "Away Fouls": (df['Incident'] == 'F2'),
        "Home Offsides": (df['Incident'] == 'O1'),
        "Away Offsides": (df['Incident'] == 'O2'),
        "Home Penalties": (df['Incident'] == 'PEN1'),
        "Away Penalties": (df['Incident'] == 'PEN2'),
        "Home Shots Blocked": (df['Incident'] == 'BLOCKED1'),
        "Away Shots Blocked": (df['Incident'] == 'BLOCKED2'),
        "Home Goal Kicks": (df['Incident'] == 'GK1'),
        "Away Goal Kicks": (df['Incident'] == 'GK2'),
        "Home Shots off Target": (df['Incident'] == 'SHB1'),
        "Away Shots off Target": (df['Incident'] == 'SHB2'),
        "Home Throwins": (df['Incident'] == 'TI1'),
        "Away Throwins": (df['Incident'] == 'TI2'),
        "Home Shots Woodwork": (df['Incident'] == 'SHW1'),
        "Away Shots Woodwork": (df['Incident'] == 'SHW2'),
    }
    df["Season"] = pd.to_datetime(df["Timestamp"]).apply(assign_season)

    for name, mask in stats.items():
        df[name] = mask.astype(int)

    agg_cols = list(stats.keys())
    aggregated = df.groupby(["RBallID", "HomeTeam", "AwayTeam", "Season"])[agg_cols].sum().reset_index()
    aggregated["Result"] = np.where(
        aggregated["Home Goals"] > aggregated["Away Goals"], "H",
        np.where(
            aggregated["Home Goals"] < aggregated["Away Goals"],"A", "D"
        )
    )
    return aggregated

premier_basic_df = create_basic_dataset(premier_league_df)
league1_basic_df = create_basic_dataset(league1_df)
laliga_basic_df = create_basic_dataset(laliga_df)

In [8]:
premier_basic_df.head()

,RBallID,HomeTeam,AwayTeam,Season,Home Goals,Away Goals,Home Corners,Away Corners,Home Shots on Target,Away Shots on Target,...,Away Shots Blocked,Home Goal Kicks,Away Goal Kicks,Home Shots off Target,Away Shots off Target,Home Throwins,Away Throwins,Home Shots Woodwork,Away Shots Woodwork,Result
0,849137,Arsenal FC,Leicester City FC,2017-2018,4,3,9,4,6,1,...,0,6,12,10,2,21,32,0,0,H
1,849138,Watford FC,Liverpool FC,2017-2018,3,3,3,3,2,2,...,1,12,7,2,7,27,27,0,1,D
2,849139,Chelsea FC,Burnley FC,2017-2018,3,4,8,5,10,2,...,1,4,10,7,3,12,8,0,1,A
3,849140,Crystal Palace FC,Huddersfield Town FC,2017-2018,0,3,12,9,3,4,...,0,3,10,7,2,19,29,0,0,A
4,849141,Everton FC,Stoke City FC,2017-2018,1,0,6,7,3,2,...,2,10,8,3,4,25,28,0,0,H

In [13]:
def update_elo(home_elo, away_elo, result, k = 30, home_advantage = 80):
    expected_home = 1/(1 +10 ** ((away_elo - (home_elo + home_advantage))/400))
    expected_away = 1 - expected_home
    if result == 'H':
        score_home, score_away = 1, 0
    elif result == 'A':
        score_home, score_away = 0, 1
    else:
        score_home, score_away = 0.5, 0.5
    new_home_elo = home_elo + k * (score_home - expected_home)
    new_away_elo = away_elo + k * (score_away - expected_away)
    return new_home_elo, new_away_elo

In [18]:
# ---------------------------------------------
# Initialize parameters
# ---------------------------------------------
initial_elo = 1500
k = 30
home_advantage = 80

# Columns to store ELOs
home_elos_list = []
away_elos_list = []

# Process each season separately
for season, season_df in premier_basic_df.groupby("Season", sort=True):
    # Get all teams in this season
    teams = set(season_df['HomeTeam']).union(set(season_df['AwayTeam']))
    team_elos = {team: initial_elo for team in teams}

    # Iterate over matches in order
    for idx, row in season_df.iterrows():
        home = row["HomeTeam"]
        away = row["AwayTeam"]
        result = row["Result"]

        home_elo = team_elos[home]
        away_elo = team_elos[away]

        # Append current ELOs
        home_elos_list.append(home_elo)
        away_elos_list.append(away_elo)

        # Update ELOs
        new_home_elo, new_away_elo = update_elo(home_elo, away_elo, result,
                                                k=k, home_advantage=home_advantage)
        team_elos[home] = new_home_elo
        team_elos[away] = new_away_elo

# Assign back to dataframe
premier_basic_df['HomeElo'] = home_elos_list
premier_basic_df['AwayElo'] = away_elos_list

premier_basic_df[premier_basic_df['Season'] == "2017-2018"].tail(50)

,RBallID,HomeTeam,AwayTeam,Season,Home Goals,Away Goals,Home Corners,Away Corners,Home Shots on Target,Away Shots on Target,...,Away Goal Kicks,Home Shots off Target,Away Shots off Target,Home Throwins,Away Throwins,Home Shots Woodwork,Away Shots Woodwork,Result,HomeElo,AwayElo
323,958790,Arsenal FC,Southampton FC,2017-2018,3,3,8,6,5,7,...,5,3,2,24,20,0,0,D,1515.736380,1403.992051
324,961178,Burnley FC,Leicester City FC,2017-2018,2,1,4,8,1,4,...,7,2,3,31,31,0,0,H,1539.558404,1518.393279
325,961179,Crystal Palace FC,Brighton & Hove Albion FC,2017-2018,3,2,5,6,4,3,...,9,4,5,16,28,0,0,H,1449.532957,1443.066765
326,961180,Huddersfield Town FC,Watford FC,2017-2018,1,0,9,6,0,1,...,8,4,0,27,28,0,0,H,1396.938946,1414.765687
327,961181,Swansea City AFC,Everton FC,2017-2018,1,1,6,3,7,4,...,6,5,5,29,19,0,1,D,1446.161331,1471.920277
328,961182,Liverpool FC,AFC Bournemouth,2017-2018,3,0,7,5,4,1,...,14,11,4,14,17,0,0,H,1661.535911,1474.133167
329,961183,Tottenham Hotspur FC,Manchester City FC,2017-2018,1,3,5,7,3,5,...,7,3,6,20,19,0,1,A,1668.038380,1706.458091
330,962194,Newcastle United FC,Arsenal FC,2017-2018,2,1,2,5,4,4,...,6,2,7,18,22,1,0,H,1492.605507,1508.207410
331,962195,Manchester United FC,West Bromwich Albion FC,2017-2018,0,1,4,4,4,3,...,12,5,3,17,16,0,0,A,1695.105103,1318.598990
332,962866,West Ham United FC,Stoke City FC,2017-2018,4,1,10,2,6,5,...,5,5,2,31,17,0,0,H,1447.075165,1387.387724
333,964279,Brighton & Hove Albion FC,Tottenham Hotspur FC,2017-2018,1,1,3,5,4,5,...,5,2,5,25,23,0,0,D,1431.724604,1651.251737
334,965173,Chelsea FC,Huddersfield Town FC,2017-2018,1,1,10,0,8,1,...,15,8,1,30,10,0,0,D,1548.995885,1409.283000
335,965175,Leicester City FC,Southampton FC,2017-2018,0,0,11,3,3,4,...,9,2,3,26,36,0,0,D,1507.641540,1411.521020
336,965178,AFC Bournemouth,Manchester United FC,2017-2018,0,2,8,5,3,2,...,9,8,1,20,21,0,0,A,1468.834029,1667.126106
337,967522,Burnley FC,Chelsea FC,2017-2018,1,2,3,2,1,4,...,4,1,6,17,21,0,0,A,1550.310142,1540.600506
338,969476,Liverpool FC,Stoke City FC,2017-2018,1,0,10,2,3,0,...,13,7,2,35,21,0,0,H,1666.835049,1378.113284
339,969477,Burnley FC,Brighton & Hove Albion FC,2017-2018,1,0,3,4,2,3,...,5,2,4,25,23,0,0,H,1531.520903,1437.444250
340,969478,Crystal Palace FC,Leicester City FC,2017-2018,5,0,8,2,3,4,...,6,5,2,16,22,0,0,H,1460.875119,1500.628462
341,969479,Huddersfield Town FC,Everton FC,2017-2018,0,2,4,3,3,3,...,9,3,1,40,24,0,0,A,1417.678380,1474.243210
342,969480,Newcastle United FC,West Bromwich Albion FC,2017-2018,0,1,5,1,4,3,...,16,8,6,27,33,2,0,A,1504.856626,1346.577988
343,969481,Southampton FC,AFC Bournemouth,2017-2018,2,1,5,8,5,8,...,3,2,4,13,31,0,0,H,1418.534098,1458.752509
344,969482,Swansea City AFC,Chelsea FC,2017-2018,0,1,1,2,3,1,...,4,5,6,17,19,0,0,A,1443.838398,1559.389745
345,970478,West Ham United FC,Manchester City FC,2017-2018,1,4,0,7,0,5,...,3,2,7,23,15,0,0,A,1456.349605,1723.244735
346,970479,Manchester United FC,Arsenal FC,2017-2018,3,1,9,0,0,3,...,5,3,3,22,17,1,0,H,1677.207625,1495.956292
347,971134,Tottenham Hotspur FC,Watford FC,2017-2018,3,0,4,0,1,4,...,10,6,4,28,26,1,0,H,1645.532090,1402.421633
348,972996,AFC Bournemouth,Swansea City AFC,2017-2018,1,0,11,6,3,3,...,9,8,5,21,24,0,0,H,1445.462552,1430.367938
349,972997,Arsenal FC,Burnley FC,2017-2018,5,0,4,5,3,2,...,8,4,2,14,14,1,0,H,1490.500881,1539.576967
350,972998,Brighton & Hove Albion FC,Manchester United FC,2017-2018,1,1,5,6,3,3,...,4,5,8,17,25,0,0,D,1429.388186,1682.663036
351,972999,Chelsea FC,Liverpool FC,2017-2018,2,0,3,1,3,5,...,5,5,5,19,30,0,0,H,1572.860204,1670.042827
352,973000,Everton FC,Southampton FC,2017-2018,1,1,3,4,1,4,...,9,5,2,27,21,0,0,D,1490.253456,1431.824055
353,973001,Leicester City FC,West Ham United FC,2017-2018,0,2,8,3,4,2,...,5,6,4,21,35,0,1,A,1487.358320,1448.720867
354,973002,Manchester City FC,Huddersfield Town FC,2017-2018,0,0,10,1,3,3,...,16,10,2,37,23,0,0,D,1730.873472,1401.668134
355,973003,Stoke City FC,Crystal Palace FC,2017-2018,1,2,1,7,0,0,...,5,2,7,22,27,0,0,A,1374.905506,1474.145261
356,973004,Watford FC,Newcastle United FC,2017-2018,2,1,2,5,5,3,...,3,3,5,16,26,0,0,H,1398.380448,1480.927266
357,973005,West Bromwich Albion FC,Tottenham Hotspur FC,2017-2018,1,0,5,9,1,5,...,6,3,5,5,23,0,0,H,1370.507348,1649.573275
358,974679,Swansea City AFC,Southampton FC,2017-2018,0,1,7,6,3,7,...,9,6,4,37,20,0,0,A,1419.373963,1437.503151
359,974979,Leicester City FC,Arsenal FC,2017-2018,3,1,6,6,7,4,...,11,6,4,18,20,0,1,H,1467.426536,1504.169303
360,974980,Manchester City FC,Brighton & Hove Albion FC,2017-2018,3,1,4,3,4,2,...,11,9,3,20,16,1,0,H,1718.472181,1436.304895
361,974981,Tottenham Hotspur FC,Newcastle United FC,2017-2018,1,0,6,4,7,4,...,6,3,7,32,17,0,1,H,1626.810352,1465.817313
362,975192,West Ham United FC,Manchester United FC,2017-2018,0,0,1,6,2,6,...,9,6,7,12,27,0,1,D,1468.652651,1675.746327
363,976854,Burnley FC,AFC Bournemouth,2017-2018,1,2,7,8,3,3,...,5,3,7,22,25,0,0,A,1525.908546,1456.456527
364,976855,Crystal Palace FC,West Bromwich Albion FC,2017-2018,2,0,4,2,3,1,...,5,4,4,27,17,0,0,H,1488.315462,1393.270270
365,976856,Huddersfield Town FC,Arsenal FC,2017-2018,0,1,7,4,5,3,...,9,9,3,23,27,1,0,A,1414.069424,1491.027277
366,976857,Liverpool FC,Brighton & Hove Albion FC,2017-2018,4,0,7,3,6,1,...,11,7,0,22,12,0,0,H,1654.301598,1432.987413
367,976858,Manchester United FC,Watford FC,2017-2018,1,0,6,5,0,3,...,8,4,2,23,15,0,0,H,1670.491573,1413.490401
368,976859,Newcastle United FC,Chelsea FC,2017-2018,3,0,4,2,6,3,...,7,4,3,20,20,0,0,H,1459.821982,1588.601434
369,976860,Southampton FC,Manchester City FC,2017-2018,0,1,1,12,4,4,...,5,3,6,21,21,1,1,A,1455.146446,1721.789664
370,976861,Swansea City AFC,Stoke City FC,2017-2018,1,3,6,0,14,2,...,7,5,2,19,11,0,0,A,1401.730668,1360.735305
371,976862,Tottenham Hotspur FC,Leicester City FC,2017-2018,5,4,4,4,2,5,...,9,5,7,26,17,0,0,H,1632.805683,1480.568561
372,976863,West Ham United FC,Everton FC,2017-2018,4,1,6,6,2,6,...,8,7,5,15,12,1,1,H,1473.907405,1484.574360